<%- include("partials/header.ejs") %>

<%# interfiering style%>
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  #editButton {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    border: 1px solid #607274;
    border-radius: 4px;
    color: #ffffff;
    background-color: #14A44D;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #editButton :hover {
   background-color : #0d7637;
  }

</style>

<%# view form %>
<div class="container py-4">
    <div class="content bg-light p-4 rounded-3">     
        <h1><%= title %></h1>
        <p><%= content %></p>
    </div>        
    <div class="content my-2">
        <a href="/edit/<%= postId %>"><input id="editButton" type="button" value="Edit Post"></a>
    </div>
</div>

<%- include("partials/footer.ejs") %>